:root {
  --white: #fff;
  --extra-light-grey: #f3f3f3;
  --lighter-grey: #e3e4e4;
  --greyish: #a3a3a3;
  --mineshaft: #323232;
  --dark-grey: #303030;
  --another-black: #222;
  --darker-black: #1e1e1e;

  --red-on-dark: #ff5050;
  --green: #4bc800;

  --abbey: #494949;
  --black: #000;
  --grey: #7b7b7b;
  --light-grey: #cecece;
  --off-white: #fafbfc;
  --red: #e20505;

  /* Is this really used? It's part of the legacy color set, in webapp... */
  --beached-thing: #b1b1b5;
}
