.Dialog__field {
  position: relative;

  width: 320px;
}

.Dialog__field.open {
  background-color: hsla(0,0%,69.4%,.07);
}

.Dialog__field > * {
  display: block;
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
}

.Input, #toggl-button-edit-form .Input {
  /* reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;

  /* shared/input */
  font-family: Roboto, Helvetica, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;

  background-color: transparent;
  padding: 10px 12px !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: inherit;
  border: none;
  width: 100%;
  height: 100%;

/* EnhancedInput */
  width: 100%;
  height: 36px;
  padding: 10px 12px;
  outline: none;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  transition: color .5s;
  background-color: initial;
  box-shadow: none;
}
.Input:placeholder {
  color: #7b7b7b;
}
.Input:focus {
  /* enhanced input */
  color: #000;
  background-color: hsla(0,0%,69.4%,.07);
  border-color: transparent;
}
.Input__  error {
  /* enhanced input */
  border-color: #e20505;
}

.FormFieldTrigger__trigger {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 12px;
  line-height: normal;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  color: #7b7b7b;
  cursor: pointer;
}

.Popdown__overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.open .Popdown__overlay {
  display: block;
}

.Popdown__content {
  z-index: 2;
  position: relative;
  top: 5px;

  /* boxes_floating */
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);

  /* ClientsPopdown__content */
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  max-height: inherit;
  padding: 0;

  /* Toggl Button / other */
  overflow: auto;
  background: #fff;
}

.Popdown__caret {
  width: 12px;
  height: 12px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iNiA2IDEyIDEyIj48cGF0aCBmaWxsPSIjYWJhYWFhIiBkPSJNNyAxMGw1IDUgNS01eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
  background-size: contain;
}

.open .Popdown__caret {
  transform: rotate(180deg);
}

.Popdown__filterContainer {
  flex: 0 0 auto;
  padding: 15px 15px 10px;
}

.Popdown__filter, #toggl-button-edit-form .Popdown__filter {
  width: 100%;
  padding: 0 0 0 32px;
  margin: 0;
  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: none;
  background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxjaXJjbGUgaWQ9ImEiIGN4PSI1IiBjeT0iNSIgcj0iNSIvPjxtYXNrIGlkPSJiIiBtYXNrQ29udGVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgbWFza1VuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeD0iMCIgeT0iMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjwvZGVmcz48ZyBzdHJva2U9IiNDRUNFQ0UiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHVzZSBtYXNrPSJ1cmwoI2IpIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgeGxpbms6aHJlZj0iI2EiLz48cGF0aCBkPSJNOCA4bDQgNCIvPjwvZz48L3N2Zz4=) 10px no-repeat;
  outline: none;
  line-height: 28px!important;
}

.Popdown__content {
  display: none;
  max-height: 50vh;
}

.open .Popdown__content {
  display: block;
}

/* Original CSS */

#entry-form {
  box-sizing: border-box;
  display: none;
  padding: 0;
  width: 240px;
  height: 315px;
}

#entry-form * {
  box-sizing: border-box !important;
}

#toggl-button-edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggl-button-edit-form .toggl-button {
  margin: 0 0 1rem 0 !important;
  border: none !important;
  visibility: visible !important;
  float: none !important;
  opacity: 1 !important;
}

#toggl-button-edit-form .toggl-button:hover {
  background-color: transparent;
}

#toggl-button-edit-form .toggl-button-input {
  background: #f5f5f5;
  border: 1px solid #e1e1e1;
  font-size: 0.7em;
  padding: 0 10px;
}

#toggl-button-edit-form .toggl-button-text {
  float: left;
  width: 186px;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#toggl-button-edit-form #toggl-button-duration {
  font-size: 22px;
  text-align: center;
  width: 100%;
  font-weight: 200;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#toggl-button-edit-form #toggl-button-project-placeholder,
#toggl-button-edit-form #toggl-button-tag-placeholder {
  color: #8a8989;
  cursor: pointer;
}

#toggl-button-edit-form #toggl-button-project-placeholder {
  position: relative;
}

#toggl-button-edit-form #toggl-button-project-placeholder span,
#toggl-button-edit-form #toggl-button-tag-placeholder span {
  float: right;
  color: #abaaaa;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
}

#toggl-button-edit-form #toggl-button-project-placeholder span div {
  text-overflow: ellipsis;
  overflow: hidden;
}

#toggl-button-edit-form #toggl-button-project,
#toggl-button-edit-form #toggl-button-tag {
  visibility: hidden;
  position: absolute;
}

#toggl-button-edit-form #toggl-button-project {
  visibility: visible !important;
  max-width: 220px;
}

#toggl-button-edit-form #toggl-button-tag {
  display: none;
  visibility: visible;
  background: #ffffff;
  max-width: 220px;
  position: absolute;
  margin-top: 40px !important;
  height: 100px !important;
}

.Button__button {
  display: inline-block;
  position: relative;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #4bc800;
  outline: none;
  cursor: pointer;
  transition: all .1s;

  /* .text__button */
  color: #fff;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.Button__button:focus, .Button__button:hover {
  background: #47be00;
  color: #fff;
  outline: none;
}

#toggl-button-edit-form #toggl-button-update {
  width: 100%;
  height: 36px;
  font-weight: normal;
}

#toggl-button-edit-form form:invalid #toggl-button-update {
  background-color: #cccccc;
  cursor: default;
}

#toggl-button-edit-form input:invalid {
  color: #ff3333;
}

#toggl-button-edit-form #toggl-button-hide {
  float: right;
  width: 25px;
  height: 25px;
  position: relative;
  top: -4px;
  right: -4px;
  cursor: pointer;

  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;

  border: none;
  margin-top: 0px;
}

.toggl-button, #toggl-button-hide {
  display: none;
}

#toggl-button-edit-form.toggl-integration #toggl-button-hide {
  display: initial;
}

/** Billable flag **/

#toggl-button-edit-form .tb-billable {
  outline: none;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #8a8989;
  transition: height 200ms ease-in-out;
  overflow: hidden;
  padding-top: 0 !important;
  margin-top: 10px;
}

#toggl-button-edit-form .tb-billable.no-billable {
  height: 0;
}

#toggl-button-edit-form .toggl-button-billable-label {
  float: left;
}

#toggl-button-edit-form .toggl-button-billable-flag {
  width: 42px;
  height: 24px;
  border-radius: 100px;
  background-color: #cecece;
  float: right;
  margin-top: 6px;
  position: relative;
  margin-right: 2px;
  cursor: pointer;
}

#toggl-button-edit-form .toggl-button-billable-flag span {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100px;
  position: absolute;
  left: 4px;
  top: 3px;
  transition: left 200ms ease-in-out;
}

#toggl-button-edit-form .tb-billable.tb-checked .toggl-button-billable-flag {
  background-color: #4bc800;
}

#toggl-button-edit-form
  .tb-billable.tb-checked
  .toggl-button-billable-flag
  span {
  left: 20px;
}

#toggl-button-edit-form .tb-billable:focus .toggl-button-billable-flag {
  border: 1px solid rgb(83, 183, 253);
  box-shadow: 0px 0px 5px rgb(26, 153, 243);
}
