/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700&subset=cyrillic,latin,latin-ext);
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,latin-ext);

html {
  --main-bg-color: rgb(250, 251, 252);
  --text-color: #333333;
  --light-text: #7b7b7b;
  --danger: #E20505;
  --footer-height: 42px;
  --banner-height: 60px;
  --sidebar-width: 180px;
}

html.dark {
  --main-bg-color: #222222;
  --text-color: #eeeeee;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  color: var(--text-color);
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input[type='number'],
input[type='time'] {
  height: 22px;
  line-height: 22px !important;
  vertical-align: middle;
  padding: 0 0 0 10px !important;
  margin-left: 10px !important;
  max-width: 100px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 2px;
}

input[type='number'] {
  width: 50px;
}

body {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.tabs {
  display: flex;
  overflow: hidden;
  transition: order 300ms ease-in-out;
  align-items: stretch;
  background-color: inherit;
}

.tab {
  display: none;
  position: relative;
  flex: 1 0 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.tab.active {
  display: flex;
  flex-direction: column;
}

section {
  margin: 10px;
  padding: 0 20px;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}

section h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.headline {
  padding: 18px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}

@media (max-width: 860px) {
  .tab.active {
    display: block;
  }
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.field--showDetails .subsettings-details {
  height: auto;
  padding: 10px 0 5px;
}

.field .subsettings-details input {
  margin: 0 5px !important;
}

.subsettings-details {
  overflow: hidden;
  height: 0px;
  margin-left: 10px;
  transition: height 300ms ease-in-out;
}

.subsettings-details span {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  min-height: 40px;
}

.list li label {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 2em;
  cursor: pointer;
}

.checkbox label h3 {
  margin-bottom: 5px;
}

.checkbox label::before,
.checkbox label::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;  
  border-radius: 4px;
  transition: .2s ease-in;
}
.checkbox label::before {
  content: " ";
  border: 1px solid #999;
  background: white;
}

.checkbox label::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTYuODQ1IDguNDNsMy4zMjMtNC45ODVhMSAxIDAgMSAxIDEuNjY0IDEuMTFsLTQgNmExIDEgMCAwIDEtMS41NC4xNTJsLTIuNS0yLjVhMSAxIDAgMSAxIDEuNDE1LTEuNDE0TDYuODQ1IDguNDN6Ii8+PC9zdmc+Cg==");
  border: 1px solid #4bc800;
  background: #4bc800;
}

.checkbox label::after {
  transform: scale(0);
}

.checkbox label::after {
  transform: scale(1);
}

button {
  cursor: pointer;
  color: black;
  background: #fff;
  font-size: 14px;
  border-radius: 8px;
  border: solid 1px #e6e6e6;
  padding: 0 36px;
}

button.danger {
  height: 36px;
  background: #fff;
  color: #e20505;
  font-size: 14px;
  border-radius: 8px;
  border: solid 1px #e6e6e6;
  padding: 0 36px;
  margin-top: 12px;
}

button.danger:hover {
  color: #cb0404;
}

.description {
  color: rgb(119, 119, 119);
  padding: 5px;
  align-self: stretch;
  width: 100%;
  padding: 0;
}

.list li:hover .description {
  visibility: visible;
}

nav {
  flex: 0 0 auto;
  background: #323232;
  color: white;
  height: 100%;
  width: var(--sidebar-width);
  z-index: 10;
}

nav .logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
  height: 66px;
}

nav .section {
  margin-left: 10px;
}

nav .section h3, nav .section .setting {
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(123,123,123);
  margin: 0;
  padding: 19px 0px 7px 8px;
}

nav .section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .section li {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 32px;
  width: 160px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}

nav .section li:hover {
  opacity: 1;
}

nav .section li.active {
  opacity: 1;
  background: rgb(73,73,73);
}

nav .section li .nav-icon {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .section li span {
  padding-left: 5px;
}

div.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

header {
  height: 66px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
  z-index: 1;
}

header h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 20px;
}

/* Permissions tab */

.tab-3 .description {
  width: 40%;
}

.container .tab-3 h2 {
  margin-bottom: 15px;
  clear: both;
}

#origins-container {
  display: inline;
}

.permissions-toolbar {
  width: 375px;
}

#permission-filter {
  width: 210px;
  padding-right: 20px;
}

.button-container {
    display: block;
    margin-top: 10px;
}

.section:hover .description {
  visibility: visible;
}

/*
 * For styling permissions and custom permissions lists
*/
.origin-list {
  border: 1px solid #cccaca;
  list-style: none;
  max-height: 290px;
  border-radius: 3px;
  padding: 5px;
  overflow: auto;
  width: 375px;
  font-size: 12px;
}

.origin-list:empty {
  visibility: hidden;
}

.origin-list li {
  height: 23px;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}

.origin-list li:hover {
  background: #f5f5f5;
}

.origin-list li:last-child {
  border-bottom: none;
}

/*
 * Custom permissions list
*/
#custom-permissions-list li {
  line-height: 23px;
  vertical-align: middle;
  padding-left: 5px;
}

/*
 * Permissions list
*/
#permissions-list li {
  display: flex;
  align-items: center;
}


#permissions-list.filtered li {
  display: none;
}

#permissions-list.filtered li.filter {
  display: flex;
}

#permissions-list li.disabled {
  opacity: 0.5;
  background-color: #ececec;
}

#permissions-list li.custom {
  outline: 2px solid blue;
}


#permissions-list li div {
  height: 23px;
  line-height: 23px;
  vertical-align: middle;
}

#permissions-list li input {
  margin-right: 10px;
  margin-left: 5px;
}

#filter-clear {
  display: none;
  float: left;
  width: 18px;
  height: 18px;
  line-height: 14px;
  vertical-align: middle;
  text-decoration: none;
  color: #6b6969;
  font-size: 16px;
  font-weight: bold;
  margin-left: -21px;
  position: relative;
  text-align: center;
  margin-top: 3px;
}

.filtered ~ #filter-clear {
  display: block;
}

#default-project-container {
  display: inline;
}

select {
  cursor: pointer;
  width: 300px;
  height: 36px;
  margin-top: 5px;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCA3IDQiPjxwYXRoIGZpbGw9IiM3QjdCN0IiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTMuNSAyLjc5M0w2LjE0Ni4xNDZhLjUuNSAwIDEgMSAuNzA4LjcwOGwtMyAzYS41LjUgMCAwIDEtLjcwOCAwbC0zLTNBLjUuNSAwIDAgMSAuODU0LjE0NkwzLjUgMi43OTN6Ii8+PC9zdmc+") 96% no-repeat #fff;
  color: black;
  font-size: 14px;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  padding-left: 12px;
}

.remove-custom {
  display: block;
  text-align: center;
  text-align: left;
  text-decoration: none;
  color: #ef2d2d;
  font-size: 9px;
  cursor: pointer;
  margin-right: 5px;
  line-height: 12px;
  padding: 5px;
  float: right;
}

.remove-custom:hover {
  color: #ffffff;
  background-color: #ef2d2d;
}

.guide-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.guide-back {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: grey;
  z-index: 999;
  opacity: 0.5;
}

.guide {
  width: 400px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 15px;
  line-height: 20px;
  z-index: 999;
  box-shadow: 1px 1px 10px #cacaca;
}

.guide > div {
  display: none;
}

/* Pomodoro tab */

#ticker-sound-volume,
#sound-volume {
  width: 80px;
  margin-left: 20px;
  position: relative;
  top: 4px;
}

#ticker-volume-label,
#volume-label {
  display: inline-block;
  margin-left: 8px;
  height: 16px;
  width: 40px;
  text-align: right;
  margin-right: 5px;
}

.pomodoro-sound {
  clear: both;
}

.pomodoro-sound-volume {
  overflow: hidden;
  height: 0px;
  transition: height 300ms ease-in-out;
}

#enable-ticker-sound:checked ~ .pomodoro-sound-volume,
#enable-sound-signal:checked ~ .pomodoro-sound-volume {
  height: 28px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #8a8888;
  font-size: 12px;
}

.footer > * {
  margin-top: 12px;
}

#review-prompt {
  display: flex;
  position: fixed;
  bottom: 0;
  height: var(--banner-height);
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #88CF8F;
  transform: translateY(var(--banner-height));
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.75);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
}

#review-prompt button {
  background: white;
  color: black;
  margin-left: 12px;
  padding: 10px 36px;
  border: 0;
  border-radius: 24px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  outline: 0;
}

#close-review-prompt {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

body[data-show-review-banner="true"] #review-prompt {
  transform: translateY(0);
}
