/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700&subset=cyrillic,latin,latin-ext);
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,latin-ext);

html {
  --banner-height: 60px;
  --sidebar-width: 180px;
  --input-height: 36px;
  --checkbox-size: 14px;
  --m-radius: 8px;
  --s-radius: 4px;

  --font-size: 14px;

  --main-bg-color: rgb(250,251,252);
  --text-color: rgb(51,51,51);
  --light-text: rgb(123,123,123);
  --header-bg-color: rgb(255,255,255);
  --border-color: rgb(221,221,221);
  --border-hover-color: rgb(206,206,206);
  --selected-color: rgb(75,200,0);
  --danger-color: rgb(226,5,5);
  --danger-hover-color: rgb(203,4,4);

  --box-shadow-opacity: 0.13;
}

html.dark {
  --main-bg-color: rgb(34,34,34);
  --text-color: rgb(202,202,202);
  --light-text: rgb(172,172,172);
  --header-bg-color: rgb(38,38,38);
  --border-color: rgb(58,58,58);
  --border-hover-color: rgb(96,96,96);
  --danger-color: rgb(255,88,88);
  --danger-hover-color: rgb(255,104,104);

  --box-shadow-opacity: 0.5;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  color: var(--text-color);
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

select, input, input[type="number"], input[type="text"] {
  height: var(--input-height);
  margin-top: 5px;
  background: var(--header-bg-color);
  color: var(--text-color);
  font-family: Roboto, Helvetica, sans-serif;
  font-size: var(--font-size);
  border: 1px solid var(--border-color);
  border-radius: var(--m-radius);
  padding: 0 12px;
  outline: none;
}

select:hover, input:hover {
  border-color: var(--border-hover-color);
}

select {
  cursor: pointer;
  width: 300px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCA3IDQiPjxwYXRoIGZpbGw9IiM3QjdCN0IiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTMuNSAyLjc5M0w2LjE0Ni4xNDZhLjUuNSAwIDEgMSAuNzA4LjcwOGwtMyAzYS41LjUgMCAwIDEtLjcwOCAwbC0zLTNBLjUuNSAwIDAgMSAuODU0LjE0NkwzLjUgMi43OTN6Ii8+PC9zdmc+") 96% no-repeat var(--header-bg-color);
  color: var(--text-color);
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  padding: 0;
  padding-left: 30px;
}

input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: var(--s-radius);
  transition: .2s ease-in;
}

input[type="checkbox"] + label::before {
  content: " ";
  border: 1px solid var(--border-color);
  background: var(--header-bg-color);
}

input[type="checkbox"]:hover + label::before {
  border-color: var(--border-hover-color);
}

input[type="checkbox"] + label::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTYuODQ1IDguNDNsMy4zMjMtNC45ODVhMSAxIDAgMSAxIDEuNjY0IDEuMTFsLTQgNmExIDEgMCAwIDEtMS41NC4xNTJsLTIuNS0yLjVhMSAxIDAgMSAxIDEuNDE1LTEuNDE0TDYuODQ1IDguNDN6Ii8+PC9zdmc+Cg==");
  border: 1px solid var(--selected-color);
  background: var(--selected-color);
}

input[type="checkbox"] + label::after {
  transform: scale(0);
}

input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}

button, .button {
  cursor: pointer;
  height: var(--input-height);
  color: var(--text-color);
  background: var(--header-bg-color);
  font-size: var(--font-size);
  border-radius: var(--m-radius);
  border: solid 1px var(--border-color);
  padding: 0 36px;
  outline: none;
}

button:hover, .button:hover {
  border-color: var(--border-hover-color);
}

button.danger {
  color: var(--danger-color);
  border-radius: var(--m-radius);
  padding: 0 36px;
  margin-top: 12px;
}

button.danger:hover {
  color: var(--danger-hover-color);
}

input[type="time"] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
{
  -webkit-appearance: none;
}

input[type="number"].xs {
    width: 60px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: var(--checkbox-size);
  padding: 0;
  background: var(--main-bg-color);
  border: 1px solid var(--border-color);
  outline: none;
  -webkit-transition: .2s;
  transition: all .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: 50%;
  background: var(--selected-color);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: 50%;
  background: var(--selected-color);
  cursor: pointer;
}

/* sidebar */

nav {
  flex: 0 0 auto;
  background: #323232;
  color: white;
  height: 100%;
  width: var(--sidebar-width);
  z-index: 10;
}

nav .logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
  height: 66px;
}

nav .section {
  margin-left: 10px;
}

nav .section h3, nav .section .setting {
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(123,123,123);
  margin: 0;
  padding: 19px 0px 7px 8px;
}

nav .section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .section li, nav .section li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 32px;
  width: 160px;
  border-radius: var(--m-radius);
  font-size: var(--font-size);
  font-weight: 400;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

nav .section li:hover {
  opacity: 1;
}

nav .section li.active {
  opacity: 1;
  background: rgb(73,73,73);
}

nav .section li .nav-icon {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .section li span {
  padding-left: 5px;
}

/* main content */

div.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

header {
  height: 66px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  background: var(--header-bg-color);
  box-shadow: rgba(0, 0, 0, var(--box-shadow-opacity)) 0px 2px 6px 0px;
  z-index: 1;
}

header h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 20px;
}

.tabs {
  display: flex;
  overflow: hidden;
  transition: order 300ms ease-in-out;
  align-items: stretch;
}

.tab {
  display: none;
  position: relative;
  flex: 1 0 100%;
  padding: 20px;
  box-sizing: border-box;
}

.tab.active {
  display: flex;
  flex-direction: column;
}

section {
  margin: 10px;
  padding: 0 20px;
  border-radius: var(--m-radius);
  font-size: var(--font-size);
  box-shadow: rgba(0, 0, 0, var(--box-shadow-opacity)) 0px 1px 3px 0px;
}

section h3, section .setting {
  font-size: var(--font-size);
  font-weight: 500;
  margin: 0;
}

section label {
  display: flex;
  flex-direction: column !important;
  align-items: stretch !important;
}

section button, section .button {
  margin-top: 5px;
}

section .headline {
  padding: 18px 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 18px;
}

section .field {
  margin-bottom: 18px;
}

section .field .option {
  margin-bottom: 5px;
}

section .field .description {
  color: var(--light-text);
}

section .field .subsettings-details {
  overflow: hidden;
  height: 0px;
  margin-left: 30px;
  transition: height 300ms ease-in-out;
}

section .field .subsettings-details span {
  display: block;
}

section .field .subsettings-details button.test {
  height: 22px;
  font-size: 0.8em;
  margin-left: 15px;
  padding: 0 15px;
}

section .field .subsettings-details input {
  margin: 0 4px;
}

section .field--showDetails .subsettings-details {
  height: auto;
  padding-top: var(--m-radius);
}

/* Permissions tab */

/*
 * For styling permissions and custom permissions lists
*/

#origins-container {
  display: inline;
}

.origin-list {
  height: 290px;
  width: 400px;
  padding: 0;
  list-style: none;
  border: 1px solid var(--border-color);
  border-radius: var(--s-radius);
  overflow: auto;
}

.origin-list:empty {
  visibility: hidden;
}

.origin-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--m-radius);
  cursor: pointer;
}

.remove-custom {
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: var(--danger-color);
  cursor: pointer;
}

/*
 * Custom permissions list
*/
#custom-permissions-list li {
  padding: var(--m-radius);
}

#new-permission {
  width: 397px;
}

#add-permission {
  width: 120px;
}

/*
 * Permissions list
*/
#permissions-list li {
  display: flex;
  align-items: center;
}

#permissions-list.filtered li {
  display: none;
}

#permissions-list.filtered li.filter {
  display: flex;
}

#permissions-list li.disabled {
  opacity: 0.75;
  background-color: var(--border-color);
}

#permissions-list li.custom {
  outline: 2px solid blue;
}

#permissions-list li div {
  height: 23px;
  line-height: 23px;
  vertical-align: middle;
}

#permissions-list li input {
  margin-right: 10px;
  margin-left: 5px;
}

#permission-filter {
  width: 376px;
}

#filter-clear {
  opacity: 0;
  position: absolute;
  margin-top: 16px;
  left: 425px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}

.filtered ~ #filter-clear {
  display: block;
}

#default-project-container {
  display: inline;
}

.remove-custom:hover {
  color: #ffffff;
  background-color: #ef2d2d;
}

.guide-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.guide-back {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: grey;
  z-index: 999;
  opacity: 0.5;
}

.guide {
  width: 400px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 15px;
  line-height: 20px;
  z-index: 999;
  box-shadow: 1px 1px 10px #cacaca;
}

.guide > div {
  display: none;
}

/* Pomodoro tab */

#ticker-sound-volume,
#sound-volume {
  width: 80px;
  margin-left: 20px;
  position: relative;
  top: 4px;
}

#ticker-volume-label,
#volume-label {
  display: inline-block;
}

.pomodoro-sound {
  clear: both;
}

.pomodoro-sound-volume {
  overflow: hidden;
  height: 0px;
  transition: height 300ms ease-in-out;
}

#enable-ticker-sound:checked ~ .pomodoro-sound-volume,
#enable-sound-signal:checked ~ .pomodoro-sound-volume {
  height: 28px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: var(--light-text);
  font-size: 12px;
}

.footer a {
  color: var(--light-text);
}

.footer > * {
  margin-top: 12px;
}

#review-prompt {
  display: flex;
  position: fixed;
  bottom: 0;
  height: var(--banner-height);
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #88CF8F;
  transform: translateY(var(--banner-height));
  transition: all 0.3s ease;
  font-size: var(--font-size);
  font-weight: bold;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.75);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
}

#review-prompt button {
  background: white;
  color: black;
  margin-left: 12px;
  padding: 10px 36px;
  border: 0;
  border-radius: 24px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  outline: 0;
}

#close-review-prompt {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

body[data-show-review-banner="true"] #review-prompt {
  transform: translateY(0);
}
