/********* Fibery ***********/
.toggl-button.fibery {
  color: white;
  right: 125px;
  position: absolute;
  top: 16px;
}

/********* PIVOTAL *********/
.toggl-button.pivotal {
  margin-top: 10px;
}

/********* BITBUCKET *********/
.toggl-button.bitbucket {
  border-color: #ccc;
}

#pull-request-header .toggl-button.bitbucket {
  float: right;
  margin-left: 10px;
  margin-top: 5px;
}

#issue-header .toggl-button.bitbucket {
  margin-left: 15px;
}

/********* GITHUB *********/
.toggl-button.github {
  color: #767676;
  font-size: 12px;
}
.toggl-button.github:hover {
  color: #4078c0;
  text-decoration: none;
}

/********* YOUTRACK *********/

.yt-agile-card__summary .toggl-button.youtrack:not(.active) {
  display: none !important;
}
.yt-agile-card__summary:hover .toggl-button.youtrack, .yt-agile-card:hover .toggl-button.youtrack {
  display: block !important;
}

.toggl-button.youtrack,
.toggl-button.youtrack-new {
  float: right;
}
.toggl-button.youtrack-new {
  margin-right: 30px;
}

/********* ASANA *********/
.toggl-button.asana,
.toggl-button.asana-new {
  margin-left: 68px;
  margin-bottom: 5px;
  color: #596573;
  line-height: 22px;
  font-size: 12px;
  font-weight: 600;
}
.toggl-button.asana-new {
  margin-left: 38px;
}
.toggl-button.asana-board {
  margin-top: 3px;
  opacity: 0;
}
.toggl-button.asana-new-ui {
  align-self: center;
  margin-right: 10px;
}
.BoardCard--hover .toggl-button.asana-board,
.SingleTaskPaneToolbar .toggl-button.asana-board, /* new ui v1 */
.SingleTaskPaneToolbarEasyCompletion .toggl-button.asana-board {
  /* new ui v2 */
  opacity: 1;
}
SingleTaskPaneToolbar .toggl-button.asana-board, /* new ui v1 */
.SingleTaskPaneToolbarEasyCompletion .toggl-button.asana-board {
  /* new ui v2 */
  margin-left: 8px;
}
.BoardCardWithCustomProperties--hover .toggl-button {
  opacity: 1;
}
.BoardCardWithCustomProperties-assigneeAndDueDate .toggl-button {
  margin-left: 10px;
}

.toggl-button.asana-spreadsheet {
  margin-right: 5px; /* Ensure any additional controls are spaced  */
}

.toggl-button.asana-board-view {
  opacity: 0;
}

.BoardCard--hover .toggl-button.asana-board-view {
  opacity: 1;
}

.BoardCardLayout.toggl:hover .toggl-button.asana-board-view {
  opacity: 1;
}

/********* PODIO *********/
.toggl-button.podio {
  width: 100px;
  margin-left: 4px;
}

/********* GITLAB *********/
.toggl-button.gitlab {
  margin-top: 7px;
}

@media (max-width: 991px) {
  .toggl-button.gitlab {
    margin-right: 8px;
  }
}

/********* JIRA *********/
.toggl-button.jira {
  margin-top: 0.2em;
}

.toggl-button.jira2017 {
  margin-top: 0.2em;
  margin-left: 10px;
  cursor: pointer !important;
  color: #42526e !important;
  box-shadow: none;
}

.toggl-button.jira2018 {
  margin-left: 8px;
  margin-top: 0;
  position: relative; /* margin interferes with Jira layout, using relative pos instead */
  top: 2px;
  cursor: pointer;
}

.toggl-button.jira2018-modal {
  margin-top: 0.5em;
  margin-left: 0;
  cursor: pointer;
}

/********* UNFUDDLE *********/
.toggl-button.unfuddle {
  margin-left: 4px;
  line-height: 18px;
  padding-left: 18px;
  background-size: 16px;
}

/********* TRELLO *********/
.toggl-button.trello {
  text-decoration: none;
  cursor: pointer;
  color: #737373;
}

.toggl-button.trello:not(.toggl-button-edit-form-button) svg {
  margin-left: -5px;
  margin-right: 2px;
}

.toggl-button.trello-list:not(.toggl-button-edit-form-button) {
  visibility: hidden;
  pointer-events: none;
}
.checklist-item-details:hover .toggl-button.trello-list, .toggl-button.trello-list.active:not(.toggl-button-edit-form-button) {
  visibility: visible;
  pointer-events: all;
  height: 100%;
  width: 100%;
  background-position: center !important;
}
.trello-tb-wrapper .toggl-button {
  color: #444;
}

/********* BASECAMP *********/
.toggl-button.basecamp {
  font-size: 12px;
  height: 14px;
  margin-left: 3px;
  line-height: 14px;
  padding-left: 19px;
  background-size: 17px;
  visibility: hidden;
}

/********* BASECAMP CLASSIC *********/
.toggl-button.basecamphq {
  font-size: 12px;
  height: 15px;
  margin-left: 3px;
  line-height: 14px;
  padding-left: 19px;
  background-size: 17px;
  visibility: hidden;
}

.toggl-button.basecamphq:hover {
  color: #000000 !important;
}

.active_selection .toggl-button.basecamphq,
.toggl-button.basecamphq[data-behavior='selectable_target'] {
  visibility: visible !important;
}

/********* BASECAMP 3 *********/
.todo .toggl-button.basecamp3 {
  transition: opacity 150ms ease;
  display: inline;
  position: absolute;
  opacity: 0;
  margin-top: 2px;
  margin-left: 150px;
  white-space: nowrap;
}

.todo:not(.selected):hover .toggl-button.basecamp3,
.todo:not(.selected) .toggl-button.basecamp3.active,
.todo:not(.selected) .metadata .toggl-button.basecamp3 {
  opacity: 1;
}
.todo:not(.selected).completed .toggl-button.basecamp3 {
  margin-left: 6px;
  transform: scale(0.8) translateY(-3px);
}
.todo:not(.selected) .metadata .toggl-button.basecamp3 {
  margin-left: 6px;
  transform: scale(0.9) translateY(-2px);
}


.card-grid .toggl-button.basecamp3 {
  opacity: 0 !important;
}

/********* TOGGL-PLAN *********/
a.toggl-button.toggl-plan {
  margin-top: -1px;
  margin-left: 16px;
}

/********* Produck *********/
.toggl-button.produck {
  padding-left: 25px;
  color: #a9b0c4;
  font-size: 13px;
}
.toggl-button.produck:hover {
  color: #2693ff;
  text-decoration: none;
}

/********* PRODUCTEEV *********/
.toggl-button.producteev {
  margin-left: 12px;
  margin-bottom: 2px;
}

/********* REDBOOTH *********/
.toggl-button.redbooth {
  font-size: 12px;
  line-height: 16px;
  padding-left: 18px;
  background-size: 16px;
}

/********* WORKSECTION *********/
.toggl-button.worksection-taskview {
  margin: 10px 15px;
}

.toggl-button.worksection-listview {
  margin-right: 5px;
}

/********* REVIEWBOARD *********/
.toggl-button.reviewboard {
  margin-top: 4px;
  margin-left: 6px;
}

/********* SIFTER *********/
.toggl-button.sifterapp {
  float: right;
}

.issue-detail-subject .toggl-button.sifterapp {
  margin-top: 7px;
}

/********* GOOGLE DOCS *********/
.toggl-button.google-docs:not(.toggl-button-edit-form-button) {
  background-size: 17px;
  padding-left: 19px;
  margin-left: 5px;
}

.toggl-button.google-docs.min:not(.toggl-button-edit-form-button) {
  margin-bottom: -10px;
  margin-left: 5px;
}

/********* REDMINE *********/
.toggl-button.redmine {
  float: right;
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 4px;
}

/********* CAPSULECRM *********/
.toggl-button.capsule {
  position: absolute;
  margin-left: 5px;
}

.task-item-title .toggl-button.capsule {
  position: relative;
  top: 5px;
  margin-top: -5px;
}
/********* ZENDESK *********/
.toggl-button.zendesk:not(.toggl-button-edit-form-button) {
  margin: 10px 10px 0 0;
}

[data-test-id="customer-context-tab-navigation"] .toggl-button.toggl-button.zendesk-agent-ws {
  margin-left: 10px;
  margin-top: 2px;
}

.toggl-button.zendesk-agent-ws:not(.toggl-button-edit-form-button) {
  margin-right: 15px;

  font-weight: initial;
}

.toggl-button.zendesk--2021 {
  align-self: center;
}

/********* ANYDO *********/
.toggl-button.anydo {
  color: #099acb;
  margin-left: 10px;
}

.toggl-button.anydo--2018 {
  margin: 3px 25px;
  position: absolute;
  right: 0;
}

.TaskItem .toggl-button.anydo--2018__taskItem {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
}

*:hover > .toggl-button.anydo--2018,
*:hover > .toggl-button.anydo--2018__taskItem {
  visibility: visible;
}

.TaskItemControls--in + .toggl-button.anydo--2018__taskItem {
  visibility: hidden;
}

/********* WUNDERLIST *********/
.toggl-button.wunderlist {
  text-decoration: none;
  cursor: pointer;
  color: #737373;
  margin: 0px;
  display: inline;
  opacity: 0.2;
}

.taskItem-toggl {
  z-index: 1;
  display: inline;
  margin-bottom: 0px;
  padding-right: 10px;
  line-height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  float: right;
  margin-top: 3px;
}

.detailItem-toggl {
  position: relative;
  left: 5px;
  top: -7px;
}

.toggl.done .detailItem-toggl {
  display: none;
}

.toggl.done .section-icon {
  padding-left: 22px;
}

.toggl > .taskItem-titleWrapper-title,
.toggl > .taskItem-titleMeta-info {
  margin-left: 25px;
}

/********* TODOIST *********/
.toggl-button.min svg {
  vertical-align: baseline;
}

.toggl-button.todoist-detail-subtask {
  visibility: hidden;
}

.toggl-button.todoist-detail-subtask.active  {
  visibility: visible;
}

.task_list_item:hover .toggl-button.todoist-detail-subtask  {
  visibility: visible;
}

/********* TRAC v1.x *********/
#content .toggl-button.trac {
  display: inline;
  background-color: #eee;
  background-position: 0.1em 0.1em;
  color: #222;
  border: 1px outset #eee;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.4em 0 #888;
  text-shadow: 0.1em 0.1em #ddd;
  padding: 0.1em 0.3em 0 1.7em;
  margin: 0 0 0 0.2em;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

#content .toggl-button.trac:hover {
  background-color: #f6f6f6;
  box-shadow: 0.1em 0.1em 0.6em 0 #999;
  text-shadow: 0.1em 0.1em #fcfcfc;
}

#content .toggl-button.trac:active {
  position: relative;
  top: 0.1em;
  left: 0.1em;
}

#content .toggl-button.trac.active {
  color: rgb(34, 34, 34) !important;
  background-color: rgb(26, 179, 81);
  border-color: rgb(26, 179, 81);
  text-shadow: rgb(180, 180, 180) 0.1em 0.1em;
}

#content .toggl-button.trac.active:hover {
  background-color: rgb(137, 224, 168);
  border-color: rgb(137, 224, 168);
}

/********* TRAC v0.x *********/
#content > #trac-ticket-title > .toggl-button.trac {
  border: 1px outset #ccc;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  cursor: default;
}

#content > #trac-ticket-title > .toggl-button.trac:hover {
  background-color: #ccb;
  box-shadow: none;
  text-shadow: none;
}

#content > #trac-ticket-title > .toggl-button.trac:active {
  top: 0;
  left: 0;
}

#content > #trac-ticket-title > .toggl-button.trac.active {
  background-color: rgb(137, 224, 168);
  border-color: rgb(137, 224, 168);
  text-shadow: none;
}

#content > #trac-ticket-title > .toggl-button.trac.active:hover {
  background-color: rgb(26, 179, 81);
  border-color: rgb(26, 179, 81);
}

/********* WORDPRESS TRAC *********/
#wordpress-org #content .toggl-button.trac {
  border: 1px solid #eee;
  text-decoration: none;
  font-size: 12px;
  line-height: 23px;
  height: 24px;
  margin: 0;
  padding: 0 10px 1px 28px;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-color: #bbb;
  color: #333;
  border-radius: 3px;
  text-shadow: none;
  box-shadow: none;
  background-position: 7px 1px;
}

#wordpress-org #content .toggl-button.trac:hover {
  border-color: #999;
  color: #222;
}

#wordpress-org #content .toggl-button.trac:active {
  top: 0;
  left: 0;
}

#wordpress-org #content .toggl-button.trac.active {
  color: rgb(34, 34, 34) !important;
  background-color: rgb(137, 224, 168);
  border-color: rgb(26, 179, 81);
}

#wordpress-org #content .toggl-button.trac.active:hover {
  border-color: rgb(22, 148, 67);
}

/********* TOODLEDO *********/
.toggl-button.toodledo {
  top: 3px;
  position: relative;
  margin-left: 5px;
}

#toggl-button-edit-form .toggl-button.toodledo {
  position: static;
}

/********* TEAMWORK PROJECTS *********/
.taskIcons span.toggl-span {
  margin-left: 5px;
}

.taskIcons span.toggl-span .toggl-button.huh.active {
  visibility: visible;
  opacity: 1;
}

.taskIcons span.toggl-span a.toggl-button {
  background-size: contain;
  font-weight: normal;
  opacity: 0.8;
}

.toggl-li a.toggl-button.teamwork.btn {
  background-position: 5px 50%;
  padding-left: 30px !important;
  color: #222;
  text-decoration: none;
}

.toggl-button.teamwork.min {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 2px !important;
}

/********* GOOGLE MAIL *********/
.toggl-button.google-mail:not(.toggl-button-edit-form-button) {
  margin-left: 15px;
  text-decoration: none;
  font-weight: initial;
  vertical-align: middle;
  color: rgb(102, 102, 102);
}
.toggl-button.google-mail.toggl-button-edit-form-button {
  /* resolve leaking service styles */
  color: rgb(102, 102, 102);
  text-decoration: none;
}

/********* TAIGA *********/
.toggl-button.taiga {
  margin: 13px 0 0 4px;
  text-decoration: none;
  flex-grow: 0;
}

.backlog-table-body .user-story-link a.toggl-button.taiga {
  margin-top: 0;
  margin-right: 0.5rem;
  text-decoration: none;
  flex-grow: 0;
  position: relative;
  top: 4px;
}

.detail-title-wrapper a.toggl-button.taiga {
  margin: 8px 5px 0 4px;
  text-decoration: none;
  flex-grow: 0;
}

.card .card-title.toggl {
  display: flex;
}

.epic-row a.toggl-button,
.card-title a.toggl-button {
  margin: 0 0.3rem 0 0;
  position: relative;
  top: -1px;
  min-width: 19px;
}

.column-fold .card-title a.toggl-button.taiga.active {
  opacity: 0;
  display: none !important;
}

.issues-table .row a.toggl-button.taiga {
  margin-top: 0;
  text-decoration: none;
  flex-grow: 0;
}

/********* AXOSOFT *********/
.toggl-button.axosoft {
  margin-left: 10px;
  float: right;
}
.toggl-button.axosoft.edit {
  margin-top: 9px;
}
.toggl-button.axosoft.view {
  margin-top: 4px;
}

/********* COUNTERSOFT GEMINI *********/
.toggl-button.gemini {
  margin-top: 5px;
  position: absolute;
  right: 260px;
  font-size: 12px;
  white-space: nowrap;
}

/********* GETFLOW *********/
.toggl-button.getflow {
  font-size: 0px;
  margin: 0px 0px 0px 5px;
  padding-left: 25px;
  line-height: 21px;
  background-size: 19px;
  height: auto;
  color: #575858;
  font-weight: 500;
  vertical-align: middle;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.toggl-button.getflow:hover,
.toggl-button.getflow.active {
  opacity: 1;
}
/********* SPRINTLY *********/
.toggl-button.sprintly {
  margin-left: 5px;
}

/********* GOOGLE CALENDAR *********/
.toggl-button.google-calendar {
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: -2px;
}

.toggl-button.google-calendar-modern {
  margin-top: 10px;
  margin-right: 5px;
  color: #5f6368;
  z-index: 0;
}

.bubblecontent .toggl-button.google-calendar {
  margin-left: -4px;
}

/********* DOBAMBAM *********/
.toggl-button.dobambam {
  float: right;
  margin-right: 35px;
  margin-top: -25px;
}

.actionBar .toggl-button.dobambam {
  margin-left: 7px;
  float: left;
  margin-top: 8px;
}

/********* BREEZE PM *********/
.card_box:hover .toggl-button {
  visibility: visible;
}

.toggl-button.breeze {
  visibility: hidden;
  font-style: normal;
  width: 0px;
  overflow: hidden;
  position: absolute;
  margin-left: -34px;
  margin-top: 1px;
  -webkit-filter: saturate(0);
}

.toggl-button.breeze:hover,
.toggl-button.breeze.active {
  visibility: visible;
  -webkit-filter: saturate(100%);
}

.tracker-hold .toggl-button.breeze {
  visibility: visible;
  width: 100%;
  margin-top: 5px;
  margin-left: 0;
  -webkit-filter: saturate(1);
}

/********* WRIKE *********/
.toggl-button.wrike {
  display: flex !important;
  height: 24px;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  text-decoration: none;
  color: rgb(80, 79, 79);
  padding: 0 0 0 16px;
}

/********* ASSEMBLA *********/
.toggl-button.assembla {
  padding-left: 23px;
  font-size: 14px;
  margin: 10px 0 0 30px;
}

/********* SALESFORCE *********/
.toggl-button.salesforce-legacy {
  padding-right: 5px;
  margin-bottom: -6px;
}
.toggl-button.salesforce-legacy:not(.minimal) {
  margin-left: 5px;
  font-size: 12px;
  text-decoration: none;
  font-weight: normal;
}
/* Lightning UI */
.toggl-button-salesforce-wrapper {
  margin-left: auto;
}
.custom-truncate .toggl-button.salesforce {
  /* avoid button image being truncated */
  padding-left: 25px;
}

.slds-split-view__list-item .salesforce-list {
  position: absolute;
  right: 0.5rem;
  visibility: hidden;
}
.slds-split-view__list-item:hover .salesforce-list {
  background-color: white !important;
  visibility: visible;
  z-index: 1;
}

/********* VISUAL-STUDIO *********/
.toggl-button.visual-studio-online {
  font-size: 12px;
  margin: 3px 0 0 20px;
}

/********* DRAFTIN *********/
.toggl-button.draftin {
  margin-right: 15px;
}

/********* ManageEngine *********/
.toggl-button.manageengine {
  float: right;
  margin: 0 6px 0 6px;
}

/********* PHABRICATOR *********/
.toggl-button.phabricator {
  margin-left: 5px;
}

.phui-oi-name > .toggl-button.phabricator {
  position: absolute;
}

li > .toggl-button.phabricator {
  position: relative;
}

/********* MANTISHUB *********/
.toggl-button.mantishub {
  margin-top: 5px;
  margin-left: 5px;
}

/********* REMEMEBER THE MILK *********/
.toggl-button.rememberthemilk {
  margin-left: 5px;
  position: absolute;
}
.toggl-button.rememberthemilk:not(.active) {
  display: none !important;
}

*:hover > .toggl-button.rememberthemilk {
  display: inline-block !important;
}

/********* FRESHDESK *********/
.toggl-button.freshdesk {
  margin-top: 3px;
}
.toggl-button.freshdesk__mint {
  margin: 0;
  position: relative;
  top: 6px;
  left: 5px;
}

/********* Clickup *********/
.toggl-button.clickup.min svg,
.toggl-button.clickup.min span {
  visibility: hidden;
}

/********* CLOUDES.ME *********/
.boxedDotted .toggl-button.cloudes {
  margin-left: 7px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/********* DOIT *********/
.title > .toggl-button.doit {
  position: absolute;
  top: 10px;
}

.title > .ng-hide + .toggl-button.doit {
  margin-left: 5px;
}

.task-op > .toggl-button.doit {
  color: #222;
  font-size: 14px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #d6d6d6;
  padding: 0 12px;
  text-decoration: none;
  box-shadow: 0 1px 0 #d6d6d6;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0 10px 0 35px;
  background-position: 10px 2px !important;
}

/********* SLACK *********/
.toggl-button.slack-message:not(.toggl-button-edit-form-button) {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  padding-left: 0;
  background-size: 100%;
  background-position: center bottom;
}

.slack-message-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/********* ZOHO BOOKS *********/
.toggl-button.zoho_books {
  margin-top: 5px;
  margin-left: 4px;
}
/********* KEEP *********/
.toggl-button.keep {
  margin-top: 6px;
}

.notes-container .CmABtb.RNfche .toggl-button.keep {
  display: none !important;
}

.IZ65Hb-MPu53c-haAclf .toggl-button.keep {
  margin-left: 24px;
  margin-top: 5px;
}

.IZ65Hb-YPqjbf.CmABtb-YPqjbf {
  padding-left: 73px;
}

/********* GOOGLE INBOX *********/
.toggl-button.google-inbox {
  margin-top: 5px;
  position: absolute;
  margin-left: -15px;
}

/********* WORDPRESS *********/
.toggl-button.wordpress {
  float: right;
  margin-left: 10px;
  margin-top: 5px;
}

/********* PLANBOX *********/
.toggl-button.planbox {
  color: black;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: -5px;
}

/********* EPROJECT *********/
.toggl-timer {
  margin-left: 5px !important;
}

/********* EVERNOTE *********/
.toggl-button.evernote {
  margin-right: 18px;
}

/********* OPENPROJECT *********/
.work-packages--show-view .toggl-button.openproject {
  margin-bottom: 0.4rem;
}

/********* ZUBE *********/
#card-primary-attributes-container .toggl-button.zube {
  margin-left: 30px;
  vertical-align: middle;
}

/********* HABITICA *********/
.toggl-button.habitica {
  transform: scale(0.85);
}

/********* SHERPADESK *********/
.toggl-button.sherpadesk {
  line-height: 20px;
  vertical-align: middle;
}

/********* WORKFRONT *********/
.toggl-button.workfront {
  height: 62px;
  line-height: 62px;
  background-position: 1em 50%;
  padding: 0 1em 0 2.75em;
}

.toggl-button.workfront:hover {
  background-color: #eee !important;
}

.toggl-button.workfront.active {
  background-color: #f5f5f5;
}

a.toggl-button.workfront.min {
  width: 19px;
  height: 19px;
  float: left;
  padding: 0px;
  margin: 0 3px 0 0;
  vertical-align: bottom;
  background-position: 0 0;
}

/********* ONLYOFFICE *********/
.toggl-button.onlyoffice {
  margin-top: 4px;
}

/********* ONSHAPE *********/
.toggl-button.onshape {
  margin: 10px;
}

/********* OVERV.IO *********/
.toggl-button.overv-io {
  margin-left: 10px;
  position: absolute;
  margin-top: 13px;
}

/********* TARGETPROCESS *********/
.view-header__name .toggl-button.targetprocess,
.tau-list-line .toggl-button.targetprocess {
  top: -3px;
  position: relative;
}

.tau-list-line .tau-board-unit_type_entity-name .toggl-button.targetprocess {
  top: 0;
  margin-right: 5px;
}

/********* CLUBHOUSE *********/
.toggl-button.clubhouse {
  margin-left: 3px;
  padding-left: 27px;
}

/********* SHORTCUT *********/
.toggl-button.toggl-shortcut:not(.toggl-button-edit-form-button) {
  width: 100%;
  margin: 6px;
  height: 23px;
}

.toggl-button.toggl-shortcut svg {
  height: 24px;
  width: 24px;
  margin-left: 1px;
}

.toggl-button.toggl-shortcut span {
  padding-left: 4px;
  font-size: 12px;
  font-weight: 700;
}

.toggl-button-shortcut-wrapper {
  padding: 0 !important;
}

/********* TEAMLEADER *********/
.toggl-button.teamleader {
  background: none;
}

/********* INTERCOM *********/
.toggl-button.intercom {
  margin-top: 3px;
  margin-left: 10px;
}

/********* PROCESSWIRE *********/
.toggl-button.processwire {
  opacity: 0.3;
}

.toggl-button.processwire:hover {
  opacity: 0.65;
}
.toggl-button.processwire.active {
  opacity: 1;
}

.PageListItem .toggl-button.processwire {
  position: absolute;
  left: 0;
  top: 0.4em;
  background-size: 1.2em !important;
  background-position: center !important;
}

.PageListItem {
  position: relative;
  padding-left: 1.5em;
}

.ProcessPageEdit h1 .toggl-button.processwire {
  margin-left: 1em;
}

/********* KHAN ACADEMY *********/
.toggl-button.khanacademy {
  position: absolute;
  right: 5px;
  bottom: 20px;
}
#toggl-button-edit-form .toggl-button.khanacademy {
  position: static;
}

/********* NOZBE *********/
.details__attribute.togglContainer {
  margin-top: 3px !important;
  height: 37px;
}
.toggl-button.nozbe {
  height: 100%;
  line-height: 25px;
  padding-left: 29px;
  background-size: 24px 24px;
  color: #151515 !important;
}
.toggl-button.nozbe-list {
  visibility: hidden;
  pointer-events: none;
}
.task:hover .toggl-button.nozbe-list,
.task:active .toggl-button.nozbe-list,
.task:focus .toggl-button.nozbe-list {
  visibility: visible;
  pointer-events: all;
}

/********* RallyDev *********/
.timer__container.togglContainer {
  display: inline;
  margin-left: 20px;
}
.toggl-button.rallydev {
  height: 100%;
  line-height: 25px;
  padding-left: 29px;
  background-size: 24px 24px;
  color: #151515 !important;
}

/********* CODEBASE *********/
.merge-request-summary__title .toggl-button {
  margin-left: 20px;
}
.sidebar__module .toggl-button {
  margin-bottom: 5px;
}

/********* SPIDERGAP *********/
.nav-tabs .toggl-button {
  margin: 5px 0 0 60px;
}

/********* Pagerduty *********/
.toggl-button.pagerduty {
  margin-left: 9px;
}

/********* ROLLBAR *********/
.toggl-button.rollbar {
  margin-left: 30px;
  vertical-align: middle;
}

/********* AIRTABLE ********/
.toggl-button.airtable {
  align-self: center;
  margin-top: 5px;
  margin-left: 30px;
  position: relative;
  bottom: 5px;
  float: right;
}

/********* PROTONMAIL *********/
.toggl-button.protonmail {
  margin-left: 10px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(85, 85, 85);
  position: relative;
  top: -3px;
}

.toggl-button.protonmail:hover {
  text-decoration: underline;
}

/********* HEFLO *********/
@media (max-width: 767px) {
  .toggl-button.heflo {
    float: left;
    position: absolute;
  }
}
.toggl-button.heflo {
  order: -1;
  position: relative;
  right: auto;
  margin-top: 5px;
  margin-left: 10px;
  color: white;
}

li .toggl-button.heflo {
  position: relative;
  line-height: 20px !important;
  margin: 0;
  padding-left: 23px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 20px 0;
}

.toggl-container {
  padding-left: 5px;
  height: 60px;
}

/********* SENTRY *********/
.toggl-button.sentry {
  margin: 0 auto 20px 10px;
}

/********* WORKAST *********/
.toggl-button.workast {
  position: relative;
  left: -5px;
}

/********* OUTLOOK *********/
.toggl-button.outlook {
  margin-left: 10px;
  color: rgb(102, 102, 102);
  text-decoration: none;
  position: relative;
  bottom: 3px;
}

.ms-CommandBar-primaryCommand .toggl-button.outlook {
  align-self: center;
}

/********* NOTION *********/
.toggl-button-notion-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-radius: 3px;
  padding: 0 8px;
  cursor: pointer !important;
}

.toggl-button-notion-wrapper:hover {
  background: rgba(55, 53, 47, 0.08);
}

body.notion-body.dark .toggl-button-notion-wrapper:hover {
  background: rgb(71, 76, 80);
}

.toggl-button-notion-wrapper + *:not(*[role=button]) {
  margin-left: 8px;
}

.toggl-button.notion {
  color: rgb(55, 53, 47);
  text-decoration: none;
}

body.notion-body.dark .toggl-button.notion {
  color: rgba(255, 255, 255, 0.9);
}

.toggl-button.notion.min {
  cursor: pointer !important;
  position: absolute;
  top: 16px;
  left: -30px;
}

.notion-peek-renderer .toggl-button.min {
  display: none !important;
}

/********* TURTLE *********/
.turtle-toggl-wrapper {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-bottom: -6px;
}
.toggl-button.turtle-toggl-start-btn {
  position: absolute;
  margin: 0;
  filter: grayscale(100%);
  opacity: 0.5;
}
.toggl-button.turtle-toggl-start-btn:hover,
.toggl-button.turtle-toggl-start-btn.active {
  filter: grayscale(0%);
  opacity: 1;
}

/****** DROPBOX PAPER ******/
.toggl.dropbox-paper-wrapper {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.toggl-button.dropbox-paper {
  vertical-align: middle;
}

/********* SCRAPBOX *********/
.toggl-button.scrapbox {
  margin: 0 1px 0 2px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  background-color: white;
  padding-left: 27px;
  padding-right: 8px;
  background-position: 4px 2px;
  border: 1px solid #eaeaea;
  position: relative;
  left: 4px;
  background-color: #f5f5f5;
}

.toggl-button.scrapbox:not(.active) {
  color: #6a7479;
}

.toggl-button.scrapbox:hover {
  background-color: #f5f5f5 !important;
  color: #6a7479;
}

/****** WORKFLOWY ******/
.toggl-button.min.workflowy {
  width: 36px;
  height: 36px;
  padding-left: 0;
  margin-right: 6px;
  background-position: center;
}

/********* Microsoft To-Do *********/
.toggl-button.microsoft-todo {
  visibility: hidden;
  pointer-events: none;
}

.toggl-button.microsoft-todo.active,
.taskItem-body:hover .toggl-button.microsoft-todo {
  visibility: visible;
  pointer-events: all;
}

/********* KANTREE **********/
.kt-card-toggl-btn {
  min-height: 34px;
}

.kt-checklist-item-toggl-btn {
  background-color: #f5f5f5;
  border: 0;
  float: right;
  font-size: 0;
  display: inline-block;
  margin: 0 10px;
}

/********* Corgee *********/
.toggl-button.corgee {
  position: relative;
  top: 9px;
  right: 5px;
}
.toggl-button.corgee-tasks {
  position: relative;
  top: 5px;
  margin-right: 5px;
  margin-top: -7px;
}

/********* ZENHUB *********/
.toggl-button.zenhub {
  padding-left: 25px;
  color: #333;
  font-size: 12px;
}
.toggl-button.zenhub:hover {
  color: #5e60ba;
  text-decoration: none;
}

/********* BROKERENGINE *********/
[data-toggl="taskRow"] .toggl-button.brokerengine {
  background-color: #fff !important;
  border-radius: 10px;
  margin-left: 12px;
  transition: opacity 100ms ease-out;
}

[data-toggl="taskRow"] .toggl-button.brokerengine:not(.active) {
  opacity: 0;
  visibility: hidden;
}

[data-toggl="taskRow"]:hover .toggl-button.brokerengine {
  opacity: 1;
  visibility: visible;
}

[data-toggl="loanDrawer"] .toggl-button.brokerengine {
  margin-left: 12px;
}

/********* LiveAgent *********/
.toggl-button.liveagent {
  cursor: pointer;
  margin: 1em;
  text-Align :center;
}

/********* PLACKER *********/
.toggl-button.placker {
  color: rgb(115, 125, 140);
  left: -5px;
  font-size: 14px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  position: relative;
  top: -3px;
}

/********* Bugsnag *********/
.toggl-button.bugsnag {
  margin-left: 1rem;
}
