.toggl-button {
  display: inline-block !important;
  line-height: 20px;
  padding-left: 23px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAFa9AABWvQE1bkh1AAAAB3RJTUUH3QQeBxszNJufNAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAANsSURBVDjLrZRPaFxVFMZ/57735s1LMzMxmca0nQRCqkmTmgZSUUs1BYM70YK4CCgKunTRvQsVXRZD92rdCEWKiyhoFWOKFRFsWg1pMW1jpyltJpNkJvMv781797pI86zSShfe1eWecz++7zt/4H88cr/ANNhd3f2dKmnlxEpkmhJpKzIra/XS0jdLS6V3QT8ImMwPDAwl7eRRUda4KOkzSItgtDGmHEVmrqmjrwrV9amxfP7WfcGmwe4ZHHnRcqy3RNSTiDgiEucYYwyA1rrqR9GXa74/eWhh/pd7gcnC4MhLtmO/o5TadzeIlduDrlYxpXKcbLSO6mF05maj/vb41cvnAazt4PzA8H43Yb+nlDV6N5CkU6ReexVJpQivXgO9ZZWIKEek1xZx9vrOuTP+RsPalpftyr1p2WpCRNkAKEXi4CjuwVESg/sQ28bavQtdq2HK5RhQRHKtLnMn14qXFUBXf3+nWDIO4mwzcg89ResrE6i2DIQhJghwHn2E1BuvY+X2xHITIh2enRg/Bp4CUFYyJ0LftjxJp/CeGye48Bu1019gggBdWKHyyaeIskgeGQOl7vggyrPUY93ZnjYFIEoygrTEhu/ciZXtYPPcT9DYBGPAGPSt2/gXLuLs7QPXjdkpkXbPjVptAB1F2ti2/tv1O7cowoQhjbM/Et1ejt9QChHBxC2DrosYBdAMddEYKW/3UVRcRZfKuE88DsDmd9/T/H0O1f4QieH9hIt/Ynw/ZrapdaEYBBUboNIo3/Bcd04puxfAlEo0pn9gxwvPI46DP3sRafHwnj6MeC1szpzdYghoo6NS0/91tlAoWQC5jQ1/MNuZsix1RIlyAcLreUy9TmLkAN4zh3GHhohWV6l9fppw4Uo8EZUwzM/Vyic+3Nj4I7Zppqdn18PpjuOebb8sSsXNLK2tqEwaE0Xo9XXwg1heEEX1xXrtxPsLlz6YgWr86WS5XJ3ItN+wldXtiPSKyFbtgwBTqWCqtViaMcY0tW4sNRqnpgrFyVN+bfkf4wTw0drKzaOplku2WI4IOQXJfy8DY0xYicLrS43Gx1OF4uRkuXDtP/fZ8XS6/UB291jGtZ91lT2sRNoN6E0dLa83g/OLfv3bz/L5n2eg+kDLEeAYeN3ZbFsimdzh+1CsB5XZWqH0Nfj3yv8LMvl8kMnBqycAAAAASUVORK5CYII=) no-repeat left top;
}
.toggl-button.min {
  height: 19px;
  padding-left: 19px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAABIklEQVR4AYWSu0qDURCEN80fkUCwSCPk8iJ5DF/BF1Aw1Ye2NhpLQSwFn8EiMd4qb6WNEDCkEdIETVLogDm7RyzMMvwzO8ue4eRY/GiyQ583ZsKleBNLlcgqh8z5yku6q342VuM+7LzUr6WxgrvMmHAuuJZX/hk7kIh6xoSsI9+MBotIo4QnmJAlld8ydl1OaVPhFBMq4lN39owrF9us87o89EV8y50bY+SrqxxHNvGqx3k3Zks6lP2UjT1iDNO+2DahRC+7kJ70JLYNPEGbjbgG8bbza6Pj4paCTcZiY30L6eR0jDofLi9oUGJNaIin7id1w9gXjavscyYsoiffDKMc/+nfkrfy/wt5kPfrvXX9oAhwFO8tqkWHASPmwkC8Fd430YaitSJltegAAAAASUVORK5CYII=) no-repeat left top;
}
.toggl-button.min.active {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAFa9AABWvQE1bkh1AAAAB3RJTUUH3QQeBxszNJufNAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAANsSURBVDjLrZRPaFxVFMZ/57735s1LMzMxmca0nQRCqkmTmgZSUUs1BYM70YK4CCgKunTRvQsVXRZD92rdCEWKiyhoFWOKFRFsWg1pMW1jpyltJpNkJvMv781797pI86zSShfe1eWecz++7zt/4H88cr/ANNhd3f2dKmnlxEpkmhJpKzIra/XS0jdLS6V3QT8ImMwPDAwl7eRRUda4KOkzSItgtDGmHEVmrqmjrwrV9amxfP7WfcGmwe4ZHHnRcqy3RNSTiDgiEucYYwyA1rrqR9GXa74/eWhh/pd7gcnC4MhLtmO/o5TadzeIlduDrlYxpXKcbLSO6mF05maj/vb41cvnAazt4PzA8H43Yb+nlDV6N5CkU6ReexVJpQivXgO9ZZWIKEek1xZx9vrOuTP+RsPalpftyr1p2WpCRNkAKEXi4CjuwVESg/sQ28bavQtdq2HK5RhQRHKtLnMn14qXFUBXf3+nWDIO4mwzcg89ResrE6i2DIQhJghwHn2E1BuvY+X2xHITIh2enRg/Bp4CUFYyJ0LftjxJp/CeGye48Bu1019gggBdWKHyyaeIskgeGQOl7vggyrPUY93ZnjYFIEoygrTEhu/ciZXtYPPcT9DYBGPAGPSt2/gXLuLs7QPXjdkpkXbPjVptAB1F2ti2/tv1O7cowoQhjbM/Et1ejt9QChHBxC2DrosYBdAMddEYKW/3UVRcRZfKuE88DsDmd9/T/H0O1f4QieH9hIt/Ynw/ZrapdaEYBBUboNIo3/Bcd04puxfAlEo0pn9gxwvPI46DP3sRafHwnj6MeC1szpzdYghoo6NS0/91tlAoWQC5jQ1/MNuZsix1RIlyAcLreUy9TmLkAN4zh3GHhohWV6l9fppw4Uo8EZUwzM/Vyic+3Nj4I7Zppqdn18PpjuOebb8sSsXNLK2tqEwaE0Xo9XXwg1heEEX1xXrtxPsLlz6YgWr86WS5XJ3ItN+wldXtiPSKyFbtgwBTqWCqtViaMcY0tW4sNRqnpgrFyVN+bfkf4wTw0drKzaOplku2WI4IOQXJfy8DY0xYicLrS43Gx1OF4uRkuXDtP/fZ8XS6/UB291jGtZ91lT2sRNoN6E0dLa83g/OLfv3bz/L5n2eg+kDLEeAYeN3ZbFsimdzh+1CsB5XZWqH0Nfj3yv8LMvl8kMnBqycAAAAASUVORK5CYII=) no-repeat left top;
}

/********* PIVOTAL *********/
.toggl-button.pivotal {
  margin-top: 10px;
}

/********* BITBUCKET *********/
.toggl-button.bitbucket {
  border-color: #ccc;
  margin-left:15px;
}

/********* GITHUB *********/
.toggl-button.github {
  padding-left: 21px;
  margin-left: 5px;
}

/********* YOUTRACK *********/
.toggl-button.youtrack {
  float: right;
}

/********* ASANA *********/
.toggl-button.asana {
  margin-left: 52px;
  margin-bottom: 5px;
  color: #596573;
  line-height: 22px;
  font-size: 12px;
  font-weight: 600;
}

/********* PODIO *********/
.toggl-button.podio {
  width: 65px;
  margin-left: 4px;
}

/********* GITLAB *********/
.toggl-button.gitlab {
  font-size: 75%;
  margin-left: 8px;
  padding-left: 21px;
}

/********* JIRA *********/
.toggl-button.jira {
  margin-top:.2em;
}

/********* UNFUDDLE *********/
.toggl-button.unfuddle {
  margin-left: 4px;
  line-height: 18px;
  padding-left: 18px;
  background-size: 16px;
}

/********* TRELLO *********/
.toggl-button.trello {
  text-decoration: none;
  cursor: pointer;
  color: #737373;
}

.checklist-item-button {
  position: absolute;
  top: 2px;
  right: 0;
}

.checklist-item-details-text {
  max-width: 94%;
}

/********* BASECAMP *********/
.toggl-button.basecamp {
  font-size: 12px;
  height: 14px;
  margin-left: 3px;
  line-height: 14px;
  padding-left: 19px;
  background-size: 17px;
  visibility: hidden;
}

/********* TEAMWEEK *********/
.toggl-button.teamweek-new {
  color: rgba(47,47,47,0.8);
  margin: 12px;
}

/********* PRODUCTEEV *********/
.toggl-button.producteev {
  margin-left: 12px;
  margin-bottom: 2px;
}

/********* REDBOOTH *********/
.toggl-button.redbooth {
  font-size: 12px;
  line-height: 16px;
  padding-left: 18px;
  background-size: 16px;
}

/********* WORKSECTION *********/
#tmenu2 .toggl-button.worksection {
  margin-top: 9px;
  padding-top: 0px;
  line-height: 21px;
  padding-left: 21px;
}

/********* SIFTER *********/
.toggl-button.sifterapp {
  color: white;
  float: right;
}

.toggl-button.sifterapp.active {
  color: rgb(52, 255, 125) !important;
}

/********* GOOGLE DOCS *********/
.toggl-button.google-docs {
  background-size: 17px;
  padding-left: 19px;
}

/********* REDMINE *********/
.toggl-button.redmine {
  float: right;
  font-size: .8em;
  font-weight: normal;
  margin-top: 4px;
}

/********* CAPSULECRM *********/
.toggl-button.capsule {
  line-height: 15px;
  background-position: 7% 40%;
  padding-left: 30px !important;
}

/****** Zendesk *********/
.toggl-button.zendesk {
  float: right;
  padding-right: 3em;
  margin-top: -1.5em;
} 

/****** Anydo *********/
.toggl-button.anydo {
  color: #099acb;
  margin-left: 10px;
}

/****** todoist *********/
.toggl-button.todoist {
  font-size: 12px;
  padding-left: 20px;
  background-size: 18px;
  margin-left: 7px;
  visibility: hidden;
}

.toggl-button.todoist.active {
  visibility: visible;
}

.task_content_item:hover .toggl-button {
  visibility: visible;
}

/********* XERO *********/
#xero-nav .xn-h-header-tabs a.toggl-button {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAFa9AABWvQE1bkh1AAAAB3RJTUUH3QQeBxszNJufNAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAANsSURBVDjLrZRPaFxVFMZ/57735s1LMzMxmca0nQRCqkmTmgZSUUs1BYM70YK4CCgKunTRvQsVXRZD92rdCEWKiyhoFWOKFRFsWg1pMW1jpyltJpNkJvMv781797pI86zSShfe1eWecz++7zt/4H88cr/ANNhd3f2dKmnlxEpkmhJpKzIra/XS0jdLS6V3QT8ImMwPDAwl7eRRUda4KOkzSItgtDGmHEVmrqmjrwrV9amxfP7WfcGmwe4ZHHnRcqy3RNSTiDgiEucYYwyA1rrqR9GXa74/eWhh/pd7gcnC4MhLtmO/o5TadzeIlduDrlYxpXKcbLSO6mF05maj/vb41cvnAazt4PzA8H43Yb+nlDV6N5CkU6ReexVJpQivXgO9ZZWIKEek1xZx9vrOuTP+RsPalpftyr1p2WpCRNkAKEXi4CjuwVESg/sQ28bavQtdq2HK5RhQRHKtLnMn14qXFUBXf3+nWDIO4mwzcg89ResrE6i2DIQhJghwHn2E1BuvY+X2xHITIh2enRg/Bp4CUFYyJ0LftjxJp/CeGye48Bu1019gggBdWKHyyaeIskgeGQOl7vggyrPUY93ZnjYFIEoygrTEhu/ciZXtYPPcT9DYBGPAGPSt2/gXLuLs7QPXjdkpkXbPjVptAB1F2ti2/tv1O7cowoQhjbM/Et1ejt9QChHBxC2DrosYBdAMddEYKW/3UVRcRZfKuE88DsDmd9/T/H0O1f4QieH9hIt/Ynw/ZrapdaEYBBUboNIo3/Bcd04puxfAlEo0pn9gxwvPI46DP3sRafHwnj6MeC1szpzdYghoo6NS0/91tlAoWQC5jQ1/MNuZsix1RIlyAcLreUy9TmLkAN4zh3GHhohWV6l9fppw4Uo8EZUwzM/Vyic+3Nj4I7Zppqdn18PpjuOebb8sSsXNLK2tqEwaE0Xo9XXwg1heEEX1xXrtxPsLlz6YgWr86WS5XJ3ItN+wldXtiPSKyFbtgwBTqWCqtViaMcY0tW4sNRqnpgrFyVN+bfkf4wTw0drKzaOplku2WI4IOQXJfy8DY0xYicLrS43Gx1OF4uRkuXDtP/fZ8XS6/UB291jGtZ91lT2sRNoN6E0dLa83g/OLfv3bz/L5n2eg+kDLEeAYeN3ZbFsimdzh+1CsB5XZWqH0Nfj3yv8LMvl8kMnBqycAAAAASUVORK5CYII=) no-repeat !important;
  background-position: 0px !important;
  padding-left: 22px;
}

/****** Trac v1.x *********/
#content .toggl-button.trac {
  display: inline;
  background-color: #eee;
  background-position: 0.1em 0.1em;
  color: #222;
  border: 1px outset #eee;
  border-radius: .3em;
  box-shadow: .1em .1em .4em 0 #888;
  text-shadow: .1em .1em #ddd;
  padding: .1em .3em 0 1.7em;
  margin: 0 0 0 0.2em;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

#content .toggl-button.trac:hover {
  background-color: #f6f6f6;
  box-shadow: .1em .1em .6em 0 #999;
  text-shadow: .1em .1em #fcfcfc;
}

#content .toggl-button.trac:active {
  position: relative;
  top: .1em;
  left: .1em;
}

#content .toggl-button.trac.active {
  color: rgb(34, 34, 34) !important;
  background-color: rgb(26, 179, 81);
  border-color: rgb(26, 179, 81);
  text-shadow: rgb(180, 180, 180) .1em .1em;
}

#content .toggl-button.trac.active:hover {
  background-color: rgb(137, 224, 168);
  border-color: rgb(137, 224, 168);
}

/****** Trac v0.x *********/
#content > #trac-ticket-title > .toggl-button.trac {
  border: 1px outset #ccc;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  cursor: default;
}

#content > #trac-ticket-title > .toggl-button.trac:hover {
  background-color: #ccb;
  box-shadow: none;
  text-shadow: none;
}

#content > #trac-ticket-title > .toggl-button.trac:active {
  top: 0;
  left: 0;
}

#content > #trac-ticket-title > .toggl-button.trac.active {
  background-color: rgb(137, 224, 168);
  border-color: rgb(137, 224, 168);
  text-shadow: none;
}

#content > #trac-ticket-title > .toggl-button.trac.active:hover {
  background-color: rgb(26, 179, 81);
  border-color: rgb(26, 179, 81);
}

/****** WordPress Trac *********/

#wordpress-org #content .toggl-button.trac {
  border: 1px solid #eee;
  text-decoration: none;
  font-size: 12px;
  line-height: 23px;
  height: 24px;
  margin: 0;
  padding: 0 10px 1px 28px;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-color: #bbb;
  color: #333;
  border-radius: 3px;
  text-shadow: none;
  box-shadow: none;
  background-position: 7px 1px;
}

#wordpress-org #content .toggl-button.trac:hover {
  border-color: #999;
  color: #222;
}

#wordpress-org #content .toggl-button.trac:active {
  top: 0;
  left: 0;
}

#wordpress-org #content .toggl-button.trac.active {
  color: rgb(34, 34, 34) !important;
  background-color: rgb(137, 224, 168);
  border-color: rgb(26, 179, 81);
}

#wordpress-org #content .toggl-button.trac.active:hover {
  border-color: rgb(22, 148, 67);
}
